body{
    background-color:#f4f4f4;
    color:#555;
    font-family:'Garamond', Courier, monospace;
    font-size:22px;
    line-height:1.6em;
    margin:0;
}

.dancing-script-dancing> {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-family:'Dancing Script', Courier, monospace;
    color: #9375b8;
  }

h2 {
    font-family:'Dancing Script', Courier, monospace;
    color: #9375b8;
    font-size:42px;
  }

img {
    max-width: 100%;
    height: auto;
    max-height:500px;
    width: auto\9; /* ie8 */
}

.button {
    background-color: #9375b8;; /* Green */
    border: none;
    font-family:'Garamond';
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:10px;
  }

  .button:hover {
    background-color:#503a6b;
    transition: 0.7s;
}

.container{
    width:90%;
    margin:auto;
    overflow:hidden;
}

.blinkies{
    margin:auto;
    overflow:hidden;
    text-align:center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
   
    
}

.marquee {
    --gap: 1rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}
  
.marquee-content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
}

#main-header{
    text-align:center;
    background-color:#f3f2f2;
    color:#9375b8;
}

#navbar{
    background-color:#fff;
    color:#9375b8;
}

#navbar ul{
    text-align:center;
    padding:0;
    list-style: none;
}

#navbar li{
    text-align:center;
    display:inline;
}

#navbar a{
    text-align:center;
    color:#9375b8;
    text-decoration: none;
    font-size:19px;
    padding-right:15px;
}

#showcase{
    background-image:url("Lockscreen.jpg");
    background-position:center right;
    min-height:300px;
    margin-bottom:30px;
    text-align: center;
    background-color:#333;
}

#showcase h1{
    color:#fff;
    font-size:50px;
    line-height: 1.6em;
    padding-top:30px;
}

#main{
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
    width:90%;
    padding:40px;
    box-sizing: border-box;
    text-align:center;
    color:#9375b8;
    background-color: #fff;
    border-radius: 15px;
}

#sidebar{
    float:right;
    width:30%;
    background: #333;
    color:#fff;
    padding:10px;
    box-sizing: border-box;
}

#main-footer{
    background-color:#f3f2f2;
    color:#9375b8;
    text-align: center;
    padding:20px;
    margin-top:40px;
}

@media(max-width:600px){
    #main{
        width:100%;
        float:none;
    }

    #sidebar{
        width:100%;
        float:none;
    }
}
body {
    background-image: url("../images/pattern 352.gif");
    background-repeat: repeat;
    background-attachment:fixed;
  }

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

